
  <div class="container">
    <div class="row">
        <form class="col s6" method="post" id="activity_form" action="/activities">
          <input type="hidden" name="place_id">
          <div class="row">
            <div class="input-field col s12">
              <input id="pac-input" class="controls" type="text" class="validate" placeholder="">
              <label for="Add Google Place">Add Google Place</label>
            </div>
            <div class="col s12">
              <p>or</p>
            </div>
            <div class="input-field col s12">
              <input id="" type="text" class="validate" placeholder="">
              <label for="">Activity Name</label>
            </div>
            <div class="input-field col s12">
              <input id="" type="text" class="validate" placeholder="">
              <label for="">Activity Description</label>
            </div>
            <div class="input-field col s12">
              <a class="waves-effect waves-light btn col s12">Add Activity</a>
            </div>
          </div> 
        </form>
     </div>
  </div>


