
<main>
  <div class="container">
    <div class="card-panel">
      <p>Event Name</p>
      <ul class="tile">
      </ul>
      <div id="event-content">
        <ul>
          <li><p> Event Date</p></li>
          <li><p> Users Attending</p></li>
          <li><p>Decision Expiry</p></li>
          <li><p>Budget Type</p></li>
          <li><a href="#" class="waves-effect waves-light btn col s12 add-activity">Add Activity</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="activitycolumns">
    <div class="row">
      <ul>
        <li><div class="col s6" id="lefthalfgroup">
          <div id="eventpic">Activity Picture</div>
        </div></li>
        <li><div class="col s6" id="righthalfgroup">
          <div id="eventpic">Activity Picture</div>
        </div></li>
      </ul>
    </div>
  </div>
  <div class="container" id="activitycolumns">
    <div class="row">
      <ul>
        <li><div class="col s6" id="lefthalfgroup">
          <div id="eventpic">Activity Picture</div>
        </div></li>
        <li><div class="col s6" id="righthalfgroup">
          <div id="eventpic">Activity Picture</div>
        </div></li>
      </ul>
    </div>
  </div>
</main>
