  <main>
    <div class="container">
      <div class="card-panel">

      <ul class="tile">
        <div id="gig-content">
        <p>This is where the profile pic will go</p>
        </div>
      </ul>
      <div id="name">
      <p> Users Name </p>
      </div>
    </div>
    </div>
    <div class="container" id="activitycolumns">
      <div class="row">
        <ul>
          <li><div class="col s6" id="lefthalf">This div is 5-columns wide</div></li>
          <li><div class="col s6" id="righthalf">This div is 5-columns wide</div></li>
        </ul>
      </div>
    </div>
    <div class="container" id="activitycolumns">
      <div class="row">
        <ul>
          <li><div class="col s6" id="lefthalf">This div is 5-columns wide</div></li>
          <li><div class="col s6" id="righthalf">This div is 5-columns wide</div></li>
        </ul>
      </div>
    </div>
  </main>
  